<% provide(:title,"Contact")%>
<h1>Contact</h1>

<p>
	<h3><b>Bùi ??c H?nh</b></h3>
	<h4><b>K56 HEDSPI - HUST</b></h4><br>
	Email: <a href="mailto:hanhbd.hedspi@gmail.com">hanhbd.hedspi@gmail.com </a><br>
	Facebook: <a href="https://www.facebook.com/hanh.babykid">Bùi ??c H?nh</a>
</p>
